@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family:"Poppins", sans-serif;
  box-sizing: border-box;
  
}

body{
  background-color: #efefef;;
}

nav{
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1876f2;
  padding: 5px 5%;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo{
  width: 160px;
  margin-right: 45px;
}

.nav-left, .nav-right{
  display: flex;
  align-items: center;
}

.nav-left ul li{
  list-style: none;
  display: inline-block;
}

/* icons */
.nav-left ul li img{
  width: 28px;
  margin: 0 15px;
}

.nav-user-icon img{
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.nav-user-icon{
  margin-left: 20px;
}

.search-box{
  background-color: #efefef;
  width: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.search-box img{
  width: 18px;
}

.search-box input{
  width: 100%;
  background-color: transparent;
  /* by using outline none will not highlight element on focus */
  outline: none;
  border: 0;
  padding: 10px;
}

.user-online{
  position: relative;
}

.user-online::after{
  content: '';
  width: 7px;
  height: 7px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: #41db51;
  position: absolute;
  top: 0;
  right: 0;
}

/* ---------------------------------container style----------------------------------------- */
.container{
  display: flex;
  justify-content: space-between;
  padding: 13px 5%;
}

.left-sidebar{
  /* background: #cbdffa; */
  flex-basis: 25%;
  position: sticky;
  top: 70px;
  align-items: flex-start;
 
}

.right-sidebar{
  flex-basis: 25%;
  position: sticky;
  top: 70px;
  align-items: flex-start;
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  color: #626262;
  height: fit-content;
 
}

.main-content{
  flex-basis: 47%;
}

.imp-links a, .shortcut-links a{
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  color: #626262;
  width: fit-content;
}

.imp-links a img{
  width: 25px;
  margin-right: 15px;

}

.imp-links a:last-child{
  color: #1876f2;
}

.imp-links{
  border-bottom: 1px solid #ccc;
}

.shortcut-links a img{
  width: 40px;
  border-radius: 4px;
  margin-right: 15px;
}

.shortcut-links p{
  margin: 25px 0;
  color: #626262;
  font-weight: 700;
}

.sidebar-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.right-sidebar h4{
  font-size: 16px;
  font-weight: 600;
}

.sidebar-title a{
  text-decoration: none;
  color: #1876f2;
  font-size: 12px;
}

.event{
  display: flex;
  font-size: 14px;
  margin-bottom: 20px;
}

.left-event{
  border-radius: 10px;
  height: 65px;
  width: 65px;
  margin-right: 15px;
  padding-top: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.event p{
  font-size: 12px;
} 

.event a{
  font-size: 12px;
  text-decoration: none;
  color: #1876f2;
}

/*  <span>March</span> */
.left-event span{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1876f2;
  color: #fff;
  font-size: 10px;
  padding: 4px 0; 
}

.sidebar-ads{
  width: 100%;
  margin-bottom: 20px;
  border-radius: 4px;
}

.online-list{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.online-list .user-online img{
  width: 40px;
  border-radius: 50%;
}


.online-list .user-online {
  width: 40px;
  border-radius: 50%;
margin-right: 15px;
}

.online-list .user-online::after{
  top: unset;
  bottom: 5px;
}

/* ----------------------------Middle content ------------------------------------ */
.story-gallery{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.story{
   /* 9:16 ratio */
  flex-basis: 18%;   /* This will be the width, to calculate the height 16 / 9 = 1.7 * 18 = 32*/
  padding-top: 32%;
  position: relative;
  
  background-size: cover;
  border-radius: 10px;
}

/* plus icon image */
.story img{
  position: absolute;
  width: 45px;
  border-radius: 50%;
  top: 10px;
  left: 10px;
  border: 5px solid #1876f2;
}

.story p{
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.story1{
  /* adding linear gradient add a layer on image */
  background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url('images/status-1.png');
}
.story2{
  /* adding linear gradient add a layer on image */
  background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url('images/status-2.png');
}
.story3{
  /* adding linear gradient add a layer on image */
  background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url('images/status-3.png');
}
.story4{
  /* adding linear gradient add a layer on image */
  background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url('images/status-4.png');
}
.story5{
  /* adding linear gradient add a layer on image */
  background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url('images/status-5.png');
}

/* moving + icon position from top to bottom center */
.story.story1 img{
  top: unset;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  border: 0;
  width: 35px;
} 

/* ----------------Post Section--------------------- */
.write-post-container{
  width: 100%;
  background-color: #fff;
  border-radius: 6px;
  padding: 20px;
  color: #626262;
}

.user-profile{
  display: flex;
  align-items: center;
}

.user-profile img{
  width: 45px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-profile p {
  margin-bottom: -5px;
  font-weight: 500;
  color: #626262;
}

.user-profile small{
  font-size: 12px;
}

/* -----------------------Text area input in the profile------------------------------ */
.post-input-container{
  padding-left: 55px;
  padding-top: 20px;
}

.post-input-container textarea{
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ccc;
  background: transparent;
  /* to hide the resize option from textarea */
  resize: none;
}


/* -------------add-post-links-------------- */
.add-post-links{
  display: flex;
  margin-top: 10px;
}

.add-post-links a{
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #626262;
  margin-right: 30px;
  font-size: 13px;
}

.add-post-links a img{
  width: 20px;
  margin-right: 10px;
}











/* https://www.youtube.com/watch?v=CpgNVyUxUV0 
 1:36:01 / 11:51:42
*/