body{
  padding: 0;
  margin: 0;
  background: salmon;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

h2{
  font-size: 2rem;
  color: aliceblue;
}

.section{
  text-align: center;
}

.btn{
  font-size: 5rem;
  border: none;
  background: rgba(255,255,255,0.3);
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  filter: grayscale();
  transition:  filter 0.2s ease-in-out;
}

.btn:hover{
  filter: grayscale(0);
}

.emoji-name{
  font-weight: 600;
  color: blue;
}