main {
  display: flex;
  width: 400px;
  margin: 0 auto;
}

nav {
  position: relative;
}

nav ul {
  width: 6rem;
  list-style-type: none;
}

nav ul li {
  padding: 0.5rem;
}

nav ul li a {
  padding: 0.5rem;
  text-decoration: none;
}

/* nav.sticky {
  position: sticky;
  top: 0;
} */

nav a.active {
  background-color: lightblue;
  color: #fff;
}
