body{
  margin: 0;
  height: 100vh;
  background-color: black;
}

/* https://www.iconfinder.com/ */
span{
  background: url("https://cdn3.iconfinder.com/data/icons/emoji-1-4/64/_love_heart_smiley-256.png");
  /* background: url("https://cdn4.iconfinder.com/data/icons/scenarium-silver-vol-3/128/019_gift_delivery_parachute_present_product_air_cloud-256.png"); */
  width: 100px;
  height: 100px;
  position: absolute;
  pointer-events: none;
  background-size: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: animate 10s;
}

@keyframes animate {
  0%{
    transform: translate(-50%, -50%);
    opacity: 1;
    filter: hue-rotate(0);
  }

  100%{
    transform: translate(-50%, -5000%);
    opacity: 0;
    filter: hue-rotate(720deg);
  }
}