body{
  margin: 0;  
}

.top-container{
  background-image: url('https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  color: white;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.top-container h1{
  color: white;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 2px;
  font-weight: 100;
}

.text{
  margin: 50px 5%;
  font-family: sans-serif;
}

.navbar{
  display: flex;
  position: fixed;
  background-color: rgba(255,255,255,0.3);
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  transition: background-color .4s;
}

.navbar ul{
  display: flex;
  list-style-type: none;
}

.navbar ul li a{
  text-decoration: none;
  margin: 0 10px;
  color: black;
  font-family: cursive;
}

.navbar ul li a:hover{
  color: goldenrod;
}

.navbar.active{
  background-color: lightsteelblue;
}

.navbar.active ul li a{
  color: white;
}